html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
} */

/* section {
    background-color: var(--color5);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow); 
}
    */



h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

/* p {
    margin: var(--gutter);
} */


.all-cups {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-top: 500px;
    height: 300px;
}

.cup {
    display: flex;
    flex-direction: column;
}


.cup img {
    width: 200px;
}

.cup button {
    background-color: yellow;
    margin: 10px;
    color: black;
    cursor: pointer;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
}

.ball {
    width:100px;
    position: absolute;
    visibility: hidden;
}